#site-footer {
  padding: 2rem;
  margin-top: 1rem;
  img {
    max-width: 100%;
  }
  .site-contact {
    float: right;
    padding: 1rem;
    p {
      margin: 0;
      padding: 0 0 1rem 0;
      line-height: 0.7;
    }
  }
}
