#site-header {
  padding: 2rem;
  // border-bottom: 1px solid $colour-backgrounds-light-gray;
  a {
    color: $colour-primary-blue;
    text-decoration: none;
  }
  .site-title {
    display: block;
    color: $colour-primary-blue;
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
  }
  .site-subtitle {
    display: block;
    font-size: smaller;
  }
}